////////////////////////////
// Cross Browser Support
$graceful-usage-threshold: 100;
$critical-usage-threshold: 100;

$browser-minimum-versions: (
  "ie": "9",
  "android": "4",
  "chrome": "37",
  "safari": "7",
  "firefox": "30",
  "ios-safari": "8"
);
////////////////////////////

////////////////////////
// Compass Imports
@import "compass";
@import "compass/reset";
////////////////////////

////////////////////////
// Compass Extensions
@import "toolkit";
@import "toolkit/kickstart";
@import "breakpoint";
@import "singularitygs";
@import "modular-scale";
////////////////////////

//////////////////////////////
// GLOBALS
@import "partials/global/variables";
@import "partials/global/functions";
@import "partials/global/mixins";
@import "partials/global/extends";
@import "partials/global/fonts";
//////////////////////////////

//////////////////////////////
// COMPONENTS
@import "partials/components/base";
@import "partials/components/navigation";

@import "partials/components/sections/header";

@import "partials/components/sections/venue";
@import "partials/components/sections/registration";
@import "partials/components/sections/speakers";
@import "partials/components/sections/our-generous-friends";

@import "partials/components/back-to-top";


@import "partials/components/sections/footer";
//////////////////////////////

//////////////////////////////
// LAYOUTS

//////////////////////////////
