////////////
//  Header
////////////

header {
  position: relative;
  background-color: map-get($color-me-badd, primary);
  padding: {
    top: 20px;
    bottom: 40px;
  }
  @include breakpoint($our-big-break) {
    padding-bottom: 80px;
  }
  .header--event-info {
    position: relative;
    text-align: center;
    background-color: map-get($color-me-badd, primary);
    .FrontEnd-camp--logo {
      width: 100px;
      margin: 0 auto;
      @include breakpoint($our-big-break) {
        width: 160px;
      }
    }
    h1,
    h2 {
      color: tint($typography-light, 100%);
      margin: 0;
    }
    h1 {
      font-size: 3rem;
      @include breakpoint($our-big-break) {
        font-size: 4.6rem;
      }
    }
  }
}

.header--navigation-toggle {
  @include transition(all 0.3s ease-in-out);
  display: inline-block;
  margin-right: 9px;
  @include breakpoint($our-big-break) {
    display: none;
  }
  color: tint(map-get($color-me-badd, primary), 90%);
  position: absolute;
  right: 6px;
  top: 12px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 33px;
  .lettuce,
  .tomato,
  .beef {
    @include transition(all 0.3s ease-in-out);
    @include border-radius(2px);
    transition-property: all;
    width: 96%;
    position: relative;
    height: 3px;
    background-color: tint($typography-light, 100%);
    margin: 4px auto;
  }
}

.header--navigation-toggle--active {
  right: 2px;
}

.lettuce-active {
  @include transform(rotate(45deg));
  top: 7px;
}

.tomato-active {
  opacity: 0;
}

.beef-active {
  @include transform(rotate(-45deg));
  top: -7px;
}
