///////////
//  Venue
///////////

#venue {
  h3 {
    @include breakpoint(max-width ($our-big-break - 1)) {
      text-align: center;
    }
  }
  .venue--venue--info {
    @include breakpoint($our-big-break) {
      @include grid-span(1, 1, (1 .7), $gutter: 0.1);
    }
    @include breakpoint(1400px) {
      @include grid-span(1, 1, (1 1), $gutter: 0.1);
    }
    .get-directions--wrapper {
      @include breakpoint(max-width ($our-big-break - 1)) {
        text-align: center;
      }
      margin: {
        top: 16px;
        bottom: 20px;
      }
      a {
        font-size: 1.25rem;
      }
    }
  }
  .venue--image {
    @include breakpoint(max-width ($our-big-break - 1)) {
      margin-bottom: 20px;
    }
    @include breakpoint($our-big-break) {
      @include grid-span(1, 2, (1 .7), $gutter: 0.1);
    }
    @include breakpoint(1400px) {
      @include grid-span(1, 2, (1 1), $gutter: 0.1);
    }
  }
}
