///////////////
//  variables
///////////////

$max-width: 1000px;

$breakpoint-to-ems: true;

$our-big-break: 800px;

///////////////
// Typography
/////////////////////////////////////////////////////////////////////////////////////
$serif: 'Century Gothic', 'Tw Cen MT', Futura, 'URW Gothic L', Arial, sans-serif;
$sans: 'PT Sans', Verdana, Tahoma, 'Trebuchet MS', 'DejuVu Sans', 'Bitstream Vera Sans', sans-serif;
$mono: 'scp', 'Source Code Pro', Consolas, Monaco, 'Andale Mono', monospace;
/////////////////////////////////////////////////////////////////////////////////////


//////////
// Colors
/////////////////////////////////////////////////////////////////////////////////////

$color-me-badd: (
  primary: shade(#0075CC, 40%),
  blue: #5091CD
);

$black: black(map-get($color-me-badd, primary));
$white: white(map-get($color-me-badd, primary));
$secondary: secondary(map-get($color-me-badd, primary));

$background: $white;
$foreground: $black;

$typography-light: tint(map-get($color-me-badd, primary), 74%);
$typography-dark: shade(map-get($color-me-badd, primary), 20%);
/////////////////////////////////////////////////////////////////////////////////////
